@import './Vars.styl'

header
    background black
    color white
    height: 70px
    font-size 1.6rem
    font-family: fontOne
    font-weight: 700
    .wrapper
        fullCenter()
        justify-content space-between
        height 100%
        padding 0 30px
    a
     color white
     font-size: 2rem