@import './Vars.styl'
.PaymentCard
    max-width: 400px
    margin 0 auto
.Payment-list-head
    fullCenter()
    background: #dbdbdb
    height: 50px
    padding: 0 30px
    font-size: 2rem
    text-transform: uppercase
    font-weight: bold
.Payment-list-body
    min-height: 200px
    padding: 30px
    font-size: 1.6rem
    border solid 2px
    border-color #f3f3f3
    border-top none
    border-bottom none
.Payment-list-footer
    background: #dbdbdb
.Payment-subtotal
    display: flex
    align-items: center
    padding: 10px
    justify-content: space-between
    gap: 15px
    p
        font-size:  1.2rem
    b
        display block
.Payment-total
    background: colorOne
    display flex
    padding: 20px 10px
    justify-content: space-between
    color white
    font-size 1.2rem