:root
    --primary #202020
    --secondary #babbf5
    --font-primary 'Roboto', sans-serif

colorOne = var(--primary)
colorTwo = var(--secondary)

fontOne = var(--font-primary)

//MIXIN
fullCenter()
    display flex
    align-items center
    justify-content center